* {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: "Montserrat", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: -6px;
}

nav {
  background: #131921;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  margin-top: -20px;
  height: 82px;
  position: relative;
}
nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
}
nav ul li button {
  position: absolute;
}
nav ul li .fa-bars {
  display: none;
}
nav ul div.items {
  padding: 43px 25px 0px 70px;
  display: inline-flex;
  position: absolute;
  left: 10%;
}
nav ul div.items li {
  height: 22px;
  margin-right: 30px;
}
nav ul div.items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0 15px;
  margin-right: 70px;
}
nav ul div.items :hover {
  color: cyan;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}
nav ul .search-icon {
  height: 45px;
  width: 240px;
  display: flex;
  flex-direction: inherit;
  background: #FEBD69;
  border-radius: 10px;
  margin-top: 27px;
  position: absolute;
  right: 7%;
}
nav ul .search-icon input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
}

.home {
  width: 85px;
}

.services {
  width: 104px;
}

.designs {
  width: 102px;
}

.contact {
  width: 102px;
}

.fa-search {
  margin-top: 3%;
  color: #000;
}

#back {
  background-image: url(https://i.ibb.co/7v48jVg/back-image.jpg);
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 6000px;
}

.letras {
  position: relative;
}
.letras img {
  display: block;
  width: 100%;
  object-fit: contain;
  position: fixed;
  top: -10%;
  left: 1%;
}

@media screen and (max-width: 970px) {
  .topnav .items {
    float: none;
    position: fixed;
    left: -260px;
    z-index: 9;
    display: block;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20%;
    border: 2px solid #232f3e;
    transition: all 0.5s ease-in-out;
  }

  nav {
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
  }
  nav :checked ~ .items {
    left: 0px;
  }

  nav ul div.items li {
    height: 50px;
    margin-right: 50px;
  }

  ul div.items :hover {
    display: none;
  }

  ul .search-icon {
    margin-left: 39%;
    right: 8%;
  }

  .contact {
    margin-bottom: 15px;
  }

  .logo {
    position: fixed;
    left: 12%;
    margin-right: 30%;
  }

  .burger {
    display: inline-block !important;
    margin-top: 25px;
    position: absolute;
    left: 2%;
    border: 2px solid #232f3e;
    padding: 4px 1px;
    border-radius: 7px;
  }

  .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }

  nav :checked ~ .burger .line:nth-child(1) {
    transform: translateY(30px);
  }
}
@media screen and (max-width: 490px) {
  .logo img {
    display: none;
  }

  nav ul div.items :hover {
    display: none;
  }

  nav ul .search-icon {
    right: 2%;
  }
}
@media screen and (max-width: 310px) {
  .logo img {
    display: none;
  }

  nav ul div.items :hover {
    display: none;
  }

  nav ul .search-icon {
    right: 2%;
    width: 200px;
  }

  nav ul .search-icon input {
    width: 160px;
  }
}

/*# sourceMappingURL=style.css.map */
