$color1:#f2f2f2;
$color2:#000;
$font1:'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
* {
    margin: 0;
    padding: 0;
    color: $color1;
    box-sizing: border-box;
    font-family: $font1;
    margin-bottom: -6px;
}

nav {
    background:#131921;
    border: 1px solid $color2;
    border-left: none;
    border-right: none;
    margin-top: -20px;
    height: 82px;
    position: relative;

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: flex-start;
            li .fa-bars {
                display: none;
            }
            div.items{
                padding: 43px 25px 0px 70px;
                display: inline-flex;
                position: absolute;
                left: 10%;
                li {
                    height: 22px;
                    margin-right: 30px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    padding: 0 15px;
                    margin-right: 70px;
                }
                :hover {
                    color: cyan;
                    box-shadow: 0 0 5px #33ffff,
                                0 0 5px #66ffff;
                }
            }
            .search-icon {
                height: 45px;
                width: 240px;
                display: flex;
                flex-direction: inherit;
                background: #FEBD69;;
                border-radius: 10px;
                margin-top: 27px;
                position: absolute;
                right: 7%;

                input {
                    height: 100%;
                    width: 200px;
                    border: none;
                    outline: none;
                    padding: 0 10px;
                    color: $color2;
                    font-size: 16px;
                    border-radius: 8px 0 0 8px;
                }
            }
    }
}
.home {
    width: 85px;
}
.services {
    width: 104px;
}
.designs {
    width: 102px;
}
.contact {
    width: 102px;
}
.fa-search {
    margin-top: 3%;
    color:$color2;
}
.letras {
    background-color: #232f3e;
    img {
        display: block;
        width: 100%;
        object-fit: contain;
    }
}
// tablet
@media screen and (max-width:970px) {
    nav {
        padding-bottom: 5px;
        ul div.items a {
            display: none;
        }
        ul div.items :hover {
            display: none;
        }
        ul .search-icon {
            margin-left: 39%;
            right: 8%;
        }
    }
    .logo img {
            display: block;
            position: absolute;
            right: 60%;
          }
    ul li .fa-bars {
        display: inline-block !important;
        margin-top: 34px;
        position: absolute;
        left: 3%;
}
.home {
    display: none;
}
.services {
    display: none;
}
.designs {
    display: none;
}
.contact {
    display: none;
}
}
@media screen and (max-width:460px) {
    .logo img {
        display: none;
    }
    nav ul div.items :hover {
        display: none;
    }
    nav ul .search-icon {
        right: 2%;
    }
}
@media screen and (max-width:310px) {
    .logo img {
        display: none;
    }
     nav ul div.items :hover {
         display: none;
     }
    nav ul .search-icon {
         right: 2%;
         width: 200px;
     }
     nav ul .search-icon input {
         width: 160px;
     }
}