$color1:#f2f2f2;
$color2:#000;
$font1:'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
* {
    margin: 0;
    padding: 0;
    color: $color1;
    box-sizing: border-box;
    font-family: $font1;
    margin-bottom: -6px;
}
// --------------------------------------------NAVBAR--------------------------------------------------
nav {
    background:#131921;
    border: 1px solid $color2;
    border-left: none;
    border-right: none;
    margin-top: -20px;
    height: 82px;
    position: relative;
    z-index: 99999999;

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: flex-start;
            li .fa-bars {
                display: none;
            }
            div.items{
                padding: 43px 25px 0px 70px;
                display: inline-flex;
                position: absolute;
                left: 10%;
                li {
                    height: 22px;
                    margin-right: 30px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    padding: 0 15px;
                    margin-right: 70px;
                    -webkit-transition: color .5s linear;
                    -moz-transition: color .5s linear;
                    -ms-transition: color .5s linear;
                    -o-transition: color .5s linear;
                    transition: color .5s linear;
                }
                :hover {
                    color: deepskyblue;
                    box-shadow: 0 0 5px deepskyblue,
                                0 0 5px #66ffff;
                                border-radius: 8px;
                }
            }
            }
    }
.home {
    width: 85px;
}
.services {
    width: 104px;
}
.designs {
    width: 102px;
}
.contact {
    width: 102px;
}
#back {
    background-image: url(https://i.ibb.co/7v48jVg/back-image.jpg);
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 6000px;
}
.letras {
    position: relative;
    img {
        display: block;
        width: 100%;
        object-fit: contain;
        position: fixed;
        top: -10%;
        left: 1%;
    }
}

// --------------------------------- LOGIN BUTTON ------------------------------

#login {
    position: absolute;
    top: 42%;
    right: 3%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  /* The Close Button (x) */
.close1 {
    position: absolute;
    z-index: 99;
    right: 30px;
    top: 30px;
    text-shadow: 2px 0px 10px darkcyan;
    color: darkblue;
    font-size: 70px;
    font-weight: bold;
  }
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  
  .close1:hover,
  .close1:focus {
    color: deepskyblue;
    cursor: pointer;
}
.login-box {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 700px;
    position: absolute;
    background: url("../images/earth1.png") no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    border-radius: 50px;
    font: 600 16px/18px 'Open Sans', sans-serif
}
.login-snip {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(0, 33, 77, 0.7);
    border-radius: 50px;
}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase
}

.login-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee
}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group {
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-space .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-space .group .button {
    background: #1161ee;
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label {
    color: #fff
}

.login-space .group .check:checked+label .icon {
    background: #1161ee
}

.login-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.foot {
    text-align: center
}

.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}


// ----------------------------------------------SEARCH BAR----------------------------------------------

.find-box {
	max-width: 780px;
	margin: 0 auto;
	width: 100%;
	padding: 92px 0px 75px 0px;
}

.find-box h1 {
	font-family: $font1, sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 48px;
	text-align: center;
    padding-bottom: 22px;
    text-shadow: 11px -3px 14px deepskyblue;
}

.find-box h4 {
	font-family: $font1, sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 22px;
	text-align: center;
    padding-bottom: 22px;
}
.form-sh .selectpicker,
.form-sh input {
	background: none;
	border:none;
	border-bottom: 1px solid #ffffff;
	width: 100%;
	min-height: 55px;
	color: #fff;
	font-size: 22px;
    font-weight: 300;
    text-align: center;
    text-shadow: 11px -3px 10px black;
}
.form-sh .selectpicker option {
    color: black;
}

.form-sh input::-webkit-input-placeholder {
	/* Chrome */
	color: #ffffff;
}

.form-sh input:-ms-input-placeholder {
	/* IE 10+ */
	color: #ffffff;
}

.form-sh input::-moz-placeholder {
	/* Firefox 19+ */
	color: #ffffff;
	opacity: 1;
}

.form-sh input:-moz-placeholder {
	/* Firefox 4 - 18 */
	color: #ffffff;
	opacity: 1;
}
.form-sh .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.form-sh .btn-default {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	min-height: 55px;
}

.form-sh .open>.dropdown-toggle.btn-default:hover {
	background-color: transparent;
	color: #ffffff;
}

.form-sh .bootstrap-select .dropdown-toggle:focus {
	border: none;
	border-bottom: 1px solid #fff;
	outline: none !important;
}

.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.form-sh .btn-default.active,
.form-sh .btn-default:active,
.form-sh .open>.dropdown-toggle.btn-default {
	background-color: transparent;
	color: #fff;
}

.form-sh .dropup .dropdown-menu,
.form-sh .navbar-fixed-bottom .dropdown .dropdown-menu {
	margin: 0px;
	border-radius: 0px;
}

.form-sh .dropdown-menu {
	margin: 0px;
	border-radius: 0px;
}

.form-sh a.btn {
	background: #1d99ff;
	color: #ffffff;
	min-height: 55px;
	width: 100%;
	line-height: 38px;
	font-size: 22px;
	font-weight: 500;
	border-radius: 3px;
}

.form-sh a.btn:hover {
	color: #fff;
	background-color: #007dea;
	border-color: #0077e0;
}

.form-sh .bootstrap-select.btn-group .dropdown-menu {
	background: #09294c;
	padding: 0px;
}

.form-sh .bootstrap-select.btn-group .dropdown-menu li a {
	color: #fff;
	padding: 10px 15px;
}

.form-sh .bootstrap-select.btn-group .dropdown-menu li a:hover,
.form-sh .bootstrap-select.btn-group .dropdown-menu li a:focus {
	background: #1d99ff;
}


//----------------------------------------------------------------------------------------------
//------------------------------ PRODUCTS DESIGNS-----------------------------------------------


.product-sh p {
	clear: both;
	margin: 0px;
	text-align: center;
	padding-top: 30px;
	color: #ddd;
	font-size: 16px;
}

.product-sh p a {
	color: #007dea;
}

.product-sh p a:hover,
.product-sh p a:focus {
	color: #007dea;
}

.box-img {
	background: #051d36;
	text-align: center;
	padding-bottom: 30px;
	min-height: 280px;
	margin-bottom: 30px;
	position: relative;
	border-bottom: solid #007dea 3px;
	transition: ease all 0.5s;
}

.box-img h4 {
	color: #fff;
	padding-top: 35px;
	padding-bottom: 30px;
	font-size: 25px;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	letter-spacing: 0px;
}

.box-img:hover {
	cursor: pointer;
	transform: scale(1.1);
	background: #007dea;
}

.food {
	position: absolute;
	right: 0px;
	top: 40%;
}

.categories_link {
	text-align: center;
	clear: both;
}

.categories_link a {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
}

.categories_link a:hover {
	color: #1d99ff;
}





// ---------------------------------------- PRODUCTS - DESIGNS -------------------------------------


.main-product {
	background-color: hsl(212, 79%, 16%, 0.5);
	padding-bottom: 50px;
	background-position: center center;
}


/*------------------------------------------------------------- 
	7. FOOTER
-------------------------------------------------------------*/

.main-footer {
	background-color: rgb(0, 43, 83, 0.7);
	padding: 55px 0px 0px 0px;
	background-size: cover;
    background-position: center center;
    position: relative;
}

.footer-top {
	padding-bottom: 55px;
	border-bottom: 1px solid #12345b;
}

.footer-top h2 {
	color: #fff;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 26px;
}

.form-box {
	position: relative;
	margin-right: 15px;
}

.form-box input {
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	color: #646464;
	min-height: 51px;
	border-radius: 2px;
	padding-left: 30px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	padding-right: 140px;
	border-radius: 50px;
}

.form-box button {
	border: none;
	background: #1d99ff;
	color: #fff;
	padding: 11px 35px 11px;
	border-radius: 2px;
	font-weight: 600;
	font-size: 15px;
	position: absolute;
	right: 5px;
	top: 4px;
	border-radius: 50px;
}

.form-box button:hover {
	background-color: #007dea;
}

.help-box-f h4 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 4px 0px;
}

.help-box-f p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 300;
	margin: 0px;
	padding-top: 3px;
}

.footer-link-box {
	padding-top: 55px;
	padding-bottom: 55px;
}


.left-f-box h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 0 0 0 10px;
	text-transform: uppercase;
	border-left: solid #007dea 4px;
	margin-bottom: 20px;
	line-height: normal;
}

.left-f-box ul {
	margin: 0px;
	padding: 0px;
}

.left-f-box ul li {
	padding-bottom: 10px;
}

.left-f-box ul li a {
	color: #7b9bbf;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.left-f-box ul li a:hover {
	color: #fff;
}

.right-f-box h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
	padding: 0 0 0 10px;
	border-left: solid #007dea 4px;
}

.right-f-box ul {
	margin: 0px;
	padding: 0px;
}

.right-f-box ul li {
	padding-bottom: 10px;
}

.right-f-box ul li a {
	color: #7b9bbf;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.right-f-box ul li a:hover {
	color: #fff;
}

/*-- Copyright --*/

.copyright {
    background: #12345b;
    position: relative;
    height: 75px;
}

.copyright p {
	margin-top: 20px;
	font-size: 14px;
	color: white;
}

.copyright p img {
    margin-right: 10px;
    margin-bottom: 11px;
}

.copyright p a {
	color: #636363;
}

.copyright p a:hover {
	text-decoration: underline;
}

.copyright .socials {
	float: right;
	padding: 15px 0px;
}

.copyright .socials {
	margin: 0px;
}

.copyright .socials li {
	margin: 0px;
}

.copyright .socials li a {
	color: #09294c;
	font-size: 18px;
}

// ------------------------------------------- MEDIA QUERIES ------------------------------------------


// tablet
@media screen and (max-width:970px) {
    .topnav {
        .items {
            float: none;
            position: fixed;
            left: -260px;
            z-index: 9;
            display: block;
            margin-top: 80px;
            background-color: rgba(0,0,0,0.7);
            border-radius: 20%;
            border: 2px solid #232f3e;
            transition: all .5s ease-in-out;
        }
    }
    nav {
        padding-bottom: 5px;
        position: fixed;
        width: 100%;
        :checked ~ .items {
            left: 0px;
        }
      }
      nav ul div.items li {
        height: 50px;
        margin-right: 50px;
      }
        ul div.items :hover {
            display: none;
        }
        ul .search-icon {
            margin-left: 39%;
            right: 8%;
        }
        .contact {
            margin-bottom: 15px;
        }
    
    .logo {
        position: fixed;
        left: 12%;
        margin-right: 30%;
      }
    
    .burger {
        display: inline-block !important;
        margin-top: 25px;
        position: absolute;
        left: 2%;
        border: 2px solid #232f3e;
        padding: 4px 1px;
        border-radius: 7px;
}
.line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}    
}
@media screen and (max-width:490px) {
    .logo img {
        position: fixed;
        left: 20%;
    }
    nav ul div.items :hover {
        display: none;
    }
    nav ul .search-icon {
        right: 2%;
    }
}
@media screen and (max-width:310px) {
    .logo img {
        position: fixed;
        left: 15%;
    }
     nav ul div.items :hover {
         display: none;
     }
    nav ul .search-icon {
         right: 2%;
         width: 200px;
     }
     nav ul .search-icon input {
         width: 160px;
     }
}